/* oswald-regular - latin */
@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/oswald-v41-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/oswald-v41-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin */
@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/oswald-v41-latin-500.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/oswald-v41-latin-500.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Gilroy";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
        url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
        url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
        url("../fonts/Gilroy-Bold.woff") format("woff");
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', "Oswald", sans-serif;    
}

img {
    display: inline-block;
}

.container {
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 25px;
}

.section {
    display: flex;
    align-items: center;
    padding-top: 73px;
    padding-bottom: 98px;
}

.hero {
    display: flex;
}

.years {
    margin-left: 22px;
}

.year-head {
    padding: 11px 68px;
    color: #76A713;
    border: 1.5px dashed rgba(118, 167, 19, 0.5);
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 23px;    
    margin-bottom: 0;
}

.hero__two {
    margin-left: 25px;      
}

.hero_head {
    max-width: 517px;
    margin: 0;
    margin-bottom: 39px;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #191D28;
    text-transform: uppercase;
}

.hero_two-text {
    /* width: 570px; */
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;    
    color: #888888;
}

.hero-blockquote {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 468px;
    position: relative;
}

.hero__two-span {
    position: absolute;
    top: 20px;
    width: 1px;
    height: 30px;
    position: absolute;
    width: 3px;
    height: 36px;
    background: #76A713; 
}

.blockquote-text {
    margin-left: 10px;
    font-family: 'Gilroy';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;    
}

.hero-cite {
    color: #000000;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;    
    margin: 0;
}

.cite-text {
    margin: 0;
    color: #AAAAAA; 
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;    
}

.vegetables {
    background: #F8F8F8;
    padding-top:100px;
    padding-bottom: 100px;
}

.vegetables__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.vegetables-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    gap: 30px;
}

.vegetables-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #76A713;
}

.vegetable-item {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 23px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}

.vegetable-head{
    margin: 0;
    margin-bottom: 13px;
    font-family:'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;   
    color: #76A713;    
}

.fruits-item {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 30px;
    padding-bottom: 35px;
}

.eggpent-item {
    padding-left:23px;
    padding-right: 23px;
    padding-top: 8px;
    padding-bottom: 30px;
}

.tomato-item {
    padding-left:23px;
    padding-right: 23px;
    padding-top: 45px;
    padding-bottom: 30px;
}

.vegetables-head {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;    
}

.vegetables-text {
    width: 223px;
    margin: 0;
    margin-bottom: 27px;
    color: #888888;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;    
}

.vegetables-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../image/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px 13px;
    border: 1px solid #76A713;
    cursor: pointer;
}

.vegetables-btn:hover {
    transition: all 0.4s ease;
    background-color: #000000;
    border:1px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.vegetables-btn:active {
    transition: all 0.4s ease;
    background-color: rgb(111, 111, 255);
    border: 1px solid rgb(111, 111, 255);
    box-shadow: rgba(111, 111, 255,) 0px 19px 38px, rgba(111, 111, 255, ) 0px 15px 12px;
}

.vegetable-btn {
    padding: 10px 17px;
    background-color: #76A713;
    border: 1px solid #76A713;
    color: #FFFFFF;
    font-family:'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;    
    cursor: pointer;
}

.vegetable-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.3s ease;
}

.vegetable-btn:active {
    transition: all 0.5s ease;
    background-color: rgb(111, 111, 255);
    border: 1px solid rgb(111, 111, 255);
}

.health {
    background-color: #FFFFFF;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.health__save {
    display: flex;
    align-items: center;
    background-color:#76A713;
    position: relative;
}

.save-bckr {
    width: 364px;
    height: 300px;
    background-image: url(../image/organic-food-broccoli-cauliflower-vegetable-healthy-food-048dee346ae91fc800180ba480e36d13.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.save {
    margin-left: -70px;
    margin-right:40px;
    margin-top: -55px;
}

.save-text {
    margin: 0;
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;    
    text-transform: uppercase;
    text-align: right;
}

.save-head {
    width: 247px;
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 59px;
    text-align: right;
    color: #FFFFFF;
}

.save-btn {
    padding: 10px 18px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;    
    background-color: #FF6600;
    border: none;
    position: absolute;
    top: 215px;
    left: 430px;
}

.save-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.3s ease;
}

.save-btn:active {
    transition: all 0.5s ease;
    background-color: rgb(111, 111, 255);
    border: 1px solid rgb(111, 111, 255);
}

.health__offer {
    display: flex;
    align-items: center;
    background-color:#FF6600;;
    position: relative;
}

.offer-bckr {
    width: 364px;
    height: 300px;
    background-image:url(../image/fruit-dietary-fiber-vegetable-food-health-fresh-fruits-69398c079f603f04f3cf8bef0bafbb1b.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.offer {
    margin-left: -70px;
    margin-right:40px;
    margin-top: -55px;
}

.offer-text {
    margin: 0;
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;    
    text-transform: uppercase;
    text-align: right;
}

.offer-head {
    width: 247px;
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 59px;
    text-align: right;
    color: #FFFFFF;
}

.offer-btn {
    padding: 10px 18px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;    
    background-color: #76A713;
    border: none;
    position: absolute;
    top: 215px;
    left: 430px;
}

.offer-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.3s ease;
}

.offer-btn:active {
    transition: all 0.5s ease;
    background-color: rgb(111, 111, 255);
    border: 1px solid rgb(111, 111, 255);
}