/* oswald-regular - latin */
@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/oswald-v41-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/oswald-v41-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin */
@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/oswald-v41-latin-500.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/oswald-v41-latin-500.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Gilroy";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
        url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
        url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
        url("../fonts/Gilroy-Bold.woff") format("woff");
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', "Oswald", sans-serif;    
}

img {
    display: inline-block;
}

.container {
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 25px;
}

.section {
    display: flex;
    align-items: center;
    padding-top: 73px;
}

.hero {
    display: flex;
}

.years {
    margin-left: 22px;
}

.year-head {
    padding: 11px 68px;
    color: #76A713;
    border: 1.5px dashed rgba(118, 167, 19, 0.5);
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 23px;    
    margin-bottom: 0;
}

.hero__two {
    margin-left: 25px;      
}

.hero_head {
    max-width: 517px;
    margin: 0;
    margin-bottom: 39px;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #191D28;
    text-transform: uppercase;
}

.hero_two-text {
    /* width: 570px; */
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;    
    color: #888888;
}

.hero-blockquote {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 468px;
    position: relative;
}

.hero__two-span {
    position: absolute;
    top: 20px;
    width: 1px;
    height: 30px;
    position: absolute;
    width: 3px;
    height: 36px;
    background: #76A713; 
}

.blockquote-text {
    margin-left: 10px;
    font-family: 'Gilroy';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;    
}

.hero-cite {
    color: #000000;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;    
    margin: 0;
}

.cite-text {
    margin: 0;
    color: #AAAAAA; 
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;    
}
